{% extends 'base.html.twig' %}

{% block title %}Nouvel auteur{% endblock %}

{% block body %}
        <h1>Nouvel auteur</h1>
    <form method= "POST">
        <label for="name"> Nom de l'auteur: </label>
        <input type="text" name="name" id="name" />

        <label for="description"> Description: </label>
        <textarea name="description" id="description"> </textarea>

        <label for="imageUrl"> Url de l'image: </label>
        <input type="url" name="imageUrl" id="imageUrl" />
        
        <button type="submit">Créer l'auteur'</button>
    </form>



{% endblock %}