{% extends 'base.html.twig' %}

{% block title %}Nouvel auteur{% endblock %}

{% block body %}
        <h1>{% block pageTitle %} Nouvel auteur {% endblock %}</h1>
        
        {{ form(form) }}



{% endblock %}