{% extends 'base.html.twig' %}

{% block title %}page d'accueil{% endblock %}

{% block body %}
    <h1> {% block pageTitle %} Nos derniers livres {% endblock %} </h1>
<hr />

    {% for book in books %}
        <div>
            <p> {{ book.title }}</p>
            <p> Prix: {{ book.price }} €</p>
            <p> Catégories: </p>
            <nav>
                {% for cat in book.categories %}
                    <a href="{{ path('app_front_category_display' , {id: cat.id} )}}">{{ cat.name}}</a>
                {% endfor %}
            </nav>
        </div>
        <hr />
    {% endfor %}

{% endblock %}