{% extends 'base.html.twig' %}

{% block title %}Nouveau livre{% endblock %}

{% block body %}
        <h1>{% block pageTitle %} Nouveau livre {% endblock %}</h1>
        
        {{ form(form) }}



{% endblock %}