{% extends 'base.html.twig' %}

{% block title %}Ma commande{% endblock %}

{% block body %}

    <h1>Récapitulatif de la commande</h1>
    <div>
    {% for book in books %}
            <p> {{ book.title }} : {{ book.price }} €</p>
    {% endfor %}
        <p> Prix total : {{ totalPrice }} €</p>
    </div>

    <div>
        {{ form(cardPayment) }}
    </div>

{% endblock %}